body{
  background-color: rgb(253, 247, 192);
}

.App {
 text-align: center;
}

.container{
  background-color: rgb(18, 18, 252);
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 4%;
  text-align: center;
  padding: 14px;
}
.header{
  width: 100%;
  padding: 12px 20px;
  color: rgb(247, 246, 246);
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type=text], select {
  width: 63%;
  padding: 12px 18px;
  margin: 25px 0;
  display: inline-block;
  border: 1px solid rgb(9, 8, 8);
  border-radius: 4px;
  box-sizing: border-box;
}

.btn:hover{
  background-color: rgb(9, 192, 9);
}

button{
  background-color: rgb(246, 181, 3);
  width: 15%;
  padding: 12px 20px;
  padding-left: 2%;
  cursor: pointer;
}


.list{
  background-color: rgb(7, 152, 248);
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 4%;
  text-align: center;
  padding: 14px;


}
.remove-btn{
  position: relative;
  left: 31%;
  top: -54px;
  border-radius: 7px;
  padding-top: 5px;
  
}
.listdata{
 
    color: rgb(246, 244, 244);
    font-size: 20px;
    background-color: cornflowerblue;
    text-align: left;
    padding-left: 25px;
    width: 69%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 7px;
  
   
 
}